* { margin:0;
    padding:0;
}

body{
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd));
    background: -moz-linear-gradient( left top, #ccc, #ddd);
}

.main-body{
    width: 1154px;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
}

.left-content{
    width: 950px;
	min-height: 1000px;
    float: left;
	background: #FFFFFF;
}

.left-content > div{
	padding: 20px;
}

.right-nav{
    width: 200px;
    float: right;
}


ul.nav {
    list-style: none;
    display: block;
    width: 200px;
    padding: 70px 0 0 0;
	margin: 0;
    background: url(../images/shad2.png) repeat-y;
    -webkit-background-size: 50% 100%;
}

ul.nav li {
    margin: 5px 0 0 0;
}

ul.nav li a {
    -webkit-transition: all 0.3s ease-out;
    background: #cbcbcb url(../images/border.png) no-repeat;
    color: #174867;
    padding: 7px 15px 7px 15px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-radius: 0 10px 10px 0;
    width: 130px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

ul.nav li a.hover {
    background: #ebebeb url(../images/border.png) no-repeat;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
}

.back-to-top{
	width: 19px;
	height: 57px;
	background-image: url(../images/backTop.png);
	background-position:0 0;
	cursor: pointer;
	display: none;
}

.back-to-top:hover{
	background-position:-19px 0;
}

.mbBlock ol li{
	cursor: pointer;
}

.mbBlock ol li:hover{
	color: #000000;
	font-weight: bold;
}